# App Caches
**/Cache**
**/CacheStorage**
**/Code Cache**
**/GPUCache**
**/DawnGraphiteCache**
**/DawnWebGPUCache**
**/Local Storage**
**/Session Storage**
**/Shared Dictionary**
**/databases**
**/blob_storage**
**/logs**
*.log
*.bak
*.sqlite-wal
*.sqlite-shm

# App Specific
bitwarden/.config/Bitwarden/
vesktop/.config/vesktop/sessionData/
chromium/.config/chromium/

# System
system_snapshot.txt
pkglist.txt
aur_pkglist.txt
