[Unit]
Description=Waybar
BindsTo=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/waybar
Restart=always
RestartSec=3s

[Install]
WantedBy=graphical-session.target
