[Desktop Entry]
Name=GP Quit
Comment=Disconnect Global Protect VPN
Exec=gp-quit
Icon=network-vpn-disconnected
Terminal=false
Type=Application
Categories=Network;

