[Desktop Entry]
Name=Tailscale Down
Comment=Disconnect Tailscale VPN
Exec=ts-down
Icon=network-offline
Terminal=false
Type=Application
Categories=Network;

